a {color: #dd056c;}

h1 {font-size: 3.6rem;
    line-height: 4rem;
   }

.language-flag {
    vertical-align:text-bottom;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    margin-bottom: 2px;
}